**/.idea/**/*
!/.idea/
!/.idea/.idea.Library/
!/.idea/.idea.Library/.idea/
!/.idea/.idea.Library/.idea/encodings.xml
!/.idea/.idea.Library/.idea/vcs.xml

*.suo
*.user
.vs/
.vscode/

[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/
[Pp]ublish/

Thumbs.db
Desktop.ini
.DS_Store
